quarkus:
  http:
    port: 8083
  datasource:
    db-kind: mysql
    username: poll_user
    password: poll_pswd
    jdbc:
      url: jdbc:mysql://polldb:3307/poll?useUnicode=true&serverTimezone=Europe/Paris
      driver: com.mysql.cj.jdbc.Driver
  flyway:
    migrate-at-start: true
    baseline-on-migrate: true
  swagger-ui:
    always-include: true
    path: /swagger-ui-Poll
  rest-client:
    comment-api:
      url: http://commentservice:8081
      scope: javax.inject.Singleton
    mailsender-api:
      url: http://mailsenderservice:8090
      scope: javax.inject.Singleton