quarkus:
  datasource:
    db-kind: mysql
    username: poll_user
    password: poll_pswd
    jdbc:
      url: jdbc:mysql://polldb:3306/poll?useUnicode=true&serverTimezone=Europe/Paris
      driver: com.mysql.cj.jdbc.Driver
  flyway:
    migrate-at-start: true
    baseline-on-migrate: true
  swagger-ui:
    always-include: true
    path: /swagger-ui-Poll