<div class="Home_Container">
  <div class="Home_Wrapper">
    <div class="Home_Logo">
      <img src="assets/Logo.png" alt="Logo Simba" height="130px" />
    </div>

    <h1 *ngIf="isLogged">Bienvenue {{mail}}</h1>

    <app-card-small-component [cards]="cards"></app-card-small-component>
    
    
    <div class="Button_Wrapper">
      <div class="Home_Button">
        <a routerLink="/create" class="Home_CreateLink">Créer votre poll !</a>
      </div>
      <div class="Home_Button" *ngIf="!isLogged">
        <a routerLink="/log" class="Home_login">S'identifier</a>
      </div>
      <div class="Home_Button"  *ngIf="!isLogged">
        <a routerLink="/Reg" class="Home_Register">Créer un compte</a>
      </div>
      <div class="Home_Button" *ngIf="isLogged">
        <a routerLink="/board" class="Home_dash">Accéder à mon dashboard</a>
      </div>
      <div class="Home_Button" *ngIf="isLogged">
        <a (click)="onUnLog()" routerLink="" class="Home_unLog">Se déconnecter</a>
      </div>
    </div>
  </div>


</div>