<div class="Home_Container">
  <div class="Home_Wrapper">
    <div class="Home_Logo">
      <img src="assets/Logo.png" alt="Logo Simba" height="130px" />
    </div>
    <app-card-small-component [cards]="cards"></app-card-small-component>
    
    
    <div class="Button_Wrapper">
      <div class="Home_Button">
        <a routerLink="/create" class="Home_CreateLink">Créer votre poll !</a>
      </div>
      <div class="Home_Button">
        <a routerLink="/log" class="Home_login">S'identifier</a>
      </div>
      <div class="Home_Button">
        <a routerLink="/Reg" class="Home_Register">Créer un compte</a>
      </div>
    </div>
  </div>


</div>