version: '3.8'

services:

  mybunkerized:
    image: bunkerity/bunkerized-nginx
    ports:
      - 80:8080
      - 443:8443
    volumes:
      # - ./certs:/etc/letsencrypt
      - ./server-confs:/server-confs:ro
      # - ./www:/www:ro
     # - ./nginx/global.env:/etc/nginx//global.env
    environment:
    #TODO add PUT DELETE request
      - DISABLE_DEFAULT_SERVER=no
      - SERVER_NAME= user.doodle.fr poll.doodle.fr dashboard.doodle.fr
      - GENERATE_SELF_SIGNED_SSL=yes 
      #- AUTO_LETS_ENCRYPT=yes
      - USE_REVERSE_PROXY=yes
      - COOKIE_AUTO_SECURE_FLAG=yes
      - ALLOWED_METHODS=GET|POST|PUT|HEAD|DELETE
      - USE_MODSECURITY=no
    networks:
      - services-net
    depends_on:
      # - user_service
      - poll_service
      - dashboard_service
      - keycloak



##################   User   #####################################

  # db_User:
  #   image: mysql
  #   ports:
  #     - "3306:3306"
  #   environment:
  #     - MYSQL_ROOT_PASSWORD=root_User
  #     - MYSQL_DATABASE=user
  #     - MYSQL_USER=user_user
  #     - MYSQL_PASSWORD=user_pswd
  #   healthcheck:
  #     test: [ 'CMD', 'mysqladmin', 'ping', '-u', 'root', '-p root_User' ]
  #     interval: 20s
  #     timeout: 30s
  #     retries: 5
  #   networks:
  #     - services-net

  # user_service:
  #   image: quarkus/user-jvm:latest
  #   depends_on:
  #     db_User:
  #       condition: service_healthy
  #   ports:
  #     - "8081:8081"
  #   restart: on-failure
  #   networks:
  #     - services-net

##################   Dashboard   #####################################

  dashboarddb:
    image: mysql
    expose:
      - "3308"
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=dashboard
      - MYSQL_USER=dashboard_user
      - MYSQL_PASSWORD=dashboard_pswd
      - MYSQL_TCP_PORT= 3308
    healthcheck:
      test: [ 'CMD', 'mysqladmin', 'ping', '-u', 'root', '-p root' ]
      interval: 15s
      timeout: 30s
      retries: 5
    networks:
      - services-net

  dashboard_service:
    image: quarkus/dashboard-jvm:latest
    depends_on:
      dashboarddb:
        condition: service_healthy
    ports:
      - "8082:8080"
    restart: on-failure
    networks:
      - services-net

##################   Poll   #####################################

  polldb:
    image: mysql
    ports:
      - "3307:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=poll
      - MYSQL_USER=poll_user
      - MYSQL_PASSWORD=poll_pswd
    healthcheck:
      test: [ 'CMD', 'mysqladmin', 'ping', '-u', 'root', '-p root' ]
      interval: 15s
      timeout: 30s
      retries: 5
    networks:
      - poll_network

  poll_service:
    image: quarkus/poll-jvm:latest
    depends_on:
      polldb:
        condition: service_healthy
    ports:
      - "8083:8080"
    restart: on-failure
    networks:
      - services-net
      - poll_network

##################   Comment   #####################################
  
  commentdb:
    image: mysql
    ports:
      - "3309:3306"
    expose:
      - "3309"
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=comment
      - MYSQL_USER=comment_user
      - MYSQL_PASSWORD=comment_pswd
      - MYSQL_TCP_PORT= 3309
    healthcheck:
      test: [ 'CMD', 'mysqladmin', 'ping', '-u', 'root', '-p root' ]
      interval: 15s
      timeout: 10s
      retries: 5
    networks:
      - poll_network

  commentservice:
    image: quarkus/comment-jvm:latest
    depends_on:
      commentdb:
        condition: service_healthy
    ports:
      - "8081:8080"
    restart: on-failure
    networks:
      - poll_network
##################   Pad   #####################################

  # etherpad:
  #   image: etherpad/etherpad:latest
  #   ports:
  #     - "9001:9001"
  #   volumes:
  #     - ./APIKEY.txt:/opt/etherpad-lite/APIKEY.txt

##################   Keycloak   #####################################

  keycloak:
    image: quay.io/keycloak/keycloak:18.0.0
    ports:
      - 8080:8080
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=dashboard
      - MYSQL_USER=dashboard_user
      - MYSQL_PASSWORD=dashboard_pswd
      - MYSQL_TCP_PORT= 3308
    healthcheck:
      test: [ 'CMD', 'mysqladmin', 'ping', '-u', 'root', '-p root' ]
      interval: 20s
      timeout: 30s
      retries: 5
    networks:
      - services-net
    
networks:
  services-net:
  poll_network: