version: '3.8'

services:

  mybunkerized:
    image: bunkerity/bunkerized-nginx
    ports:
      - 80:8080
      - 443:8443
    volumes:
      - ./certs:/etc/letsencrypt
      - ./server-confs:/server-confs:ro
      - ./www:/www:ro
     # - ./nginx/global.env:/etc/nginx//global.env
    environment:
    #TODO add PUT DELETE request
      - DISABLE_DEFAULT_SERVER=no
      - SERVER_NAME= user.doodle.fr poll.doodle.fr dashboard.doodle.fr
      - GENERATE_SELF_SIGNED_SSL=yes 
      #- AUTO_LETS_ENCRYPT=yes
      - USE_REVERSE_PROXY=yes
      - COOKIE_AUTO_SECURE_FLAG=yes
    networks:
      - services-net
    depends_on:
      #- user_service
      - poll_service
      - dashboard_service
      #- keycloak

 ##################   Poll   #####################################

  polldb:
    image: mysql
    ports:
      - "3307:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=poll
      - MYSQL_USER=poll_user
      - MYSQL_PASSWORD=poll_pswd
    healthcheck:
      test: [ 'CMD', 'mysqladmin', 'ping', '-u', 'root', '-p root' ]
      interval: 20s
      timeout: 30s
      retries: 5
    networks:
      - services-net

  poll_service:
    image: quarkus/poll-jvm:latest
    depends_on:
      polldb:
        condition: service_healthy
    ports:
      - "8083:8080"
    restart: on-failure
    networks:
      - services-net

##################   Dashboard   #####################################
  dashboarddb:
    image: mysql
    ports:
      - "3308:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=dashboard
      - MYSQL_USER=dashboard_user
      - MYSQL_PASSWORD=dashboard_pswd
      - MYSQL_TCP_PORT= 3308
    healthcheck:
      test: [ 'CMD', 'mysqladmin', 'ping', '-u', 'root', '-p root' ]
      interval: 20s
      timeout: 30s
      retries: 5
    networks:
      - services-net

  dashboard_service:
    image: quarkus/dashboard-jvm:latest
    depends_on:
      dashboarddb:
        condition: service_healthy
    ports:
      - "8082:8080"
    restart: on-failure
    networks:
      - services-net
    


    
networks:
  services-net: