name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: mvn package --file api_old/pom.xml && docker build -f api_old/src/main/docker/Dockerfile.jvm -t quarkus/code-with-quarkus-jvm .
