name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: mvn package --file api_old/pom.xml & mkdir api_old/target/lib & cd api_old/target/lib & mvn install dependency:copy-dependencies --file api_old\pom.xml & cd api_old & docker build -f api_old/src/main/docker/Dockerfile.jvm -t quarkus/code-with-quarkus-jvm .
