version: "3.8"
services:
  polldb:
    image: mysql
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=poll
      - MYSQL_USER=poll_user
      - MYSQL_PASSWORD=poll_pswd
    healthcheck:
      test: [ 'CMD', 'mysqladmin', 'ping', '-u', 'root', '-p root' ]
      interval: 15s
      timeout: 10s
      retries: 5
  pollservice:
     image: quarkus/poll-jvm:latest
     depends_on:
      polldb:
        condition: service_healthy
     ports:
      - "8083:8080"
     restart: on-failure